{{#partial "styles"}}
    <link rel="stylesheet" href="/css/style.css">
{{/partial}}
{{#partial "content"}}
    <h1>Each and every squad needs a hero. Someone they can look up to and be guided with<br> <br>HERO </h1>
    <br><br>
    {{#if heroes}}
        {{#each heroes}}
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">Hero {{name}}</h5>
                    <p>Hero: {{name}}</p>
                    <p>Age: {{age}}</p>
                    <p>Strength: {{strength}}</p>
                    <p>Weaknesses: {{weakness}}</p>
                </div>
            </div>
        {{/each}}
    {{else}}
<!--        <p>No hero has been added.</p>-->
<!--        <h4>Add your hero from the menu</h4>-->
    {{/if}}
{{/partial}}
{{>layout.hbs}}